body{
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: rgb(224, 248, 254);
    display: flex;
    justify-content: center;
    align-items: center;
}
.first{
    background-color: hsl(263, 55%, 52%);
    z-index: 0;
}
.second{
    background-color: hsl(217, 19%, 35%);
}
.third{
    background-color: white;
}
.fourth{
    background-color: rgb(5, 5, 97);
}
.fifth{
    margin-top: -20px;
    background-color: white;
    width: 270px;
    margin-right: 10px;
}
.nameCol{
    color: hsl(0, 0%, 81%);
}
.white{
    color: hsl(0, 0%, 100%);
}
.box{
    display: flex;
    gap: 20px;
    margin: 80px;
}
.card{
    border-radius: 10px;
}
.gridone{
    display: flex;
    gap: 20px;
}
.quote{
    z-index: -1;
    position: absolute;
    margin-top: 40px;
    margin-left: 35%;
}
.id{
    display: flex;
    margin: 20px;
    margin-bottom: -20px;
}
.pfp{
    border: 1px solid white;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-right: 20px;
}
.verify{
    margin-top: -15px;
}
.review{
    margin: 20px;
    z-index: 2;
}
.black{
    color: hsl(217, 19%, 35%);
}
.dark{
    color: hsl(216, 8%, 64%);
}
.gridtwo{
    display: flex;
    gap: 20px;
}
.firstPart{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.fifthRev{
    padding-bottom: 20px;
}
@media (max-width:800px) {
    .gridone{
        flex-direction: column;
    }
    .box{
        flex-direction: column;
    }
    .card{
        width: 300px;
        margin-left: 10px;
    }
    .gridtwo{
        flex-direction: column;
    }
    .quote {
        margin-left: 150px;
    }
}
@media (max-width:1025px) {
    .quote{
        margin-left: 200px;
    }
}
@media (max-width:768px) {
    .gridone{
        flex-direction: row;
    }
    .quote {
        margin-left: 150px;
    }
    .gridtwo{
        flex-direction: row;
    }
    .box{
        margin-top: ;
        gap: 20px;
    }
    .secondPart{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .second{
        height: 469px;
    }
}
@media (max-width:500px) {
    .gridone{
        flex-direction: column;
    }
    .gridtwo{
        flex-direction: column;
    }
    .box{
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:320px) {
    .card{
        margin-right: 10px;
    }
}